name: test

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      matrix:
        go-version:
          - '1.17.x'
          - '1.18.x'
          - '1.19.x'
          - '1.20.x'
        platform: [ubuntu-latest]

    name: test
    runs-on: ${{ matrix.platform }}

    services:
      memcached:
        image: memcached:alpine
        ports:
          - 11211:11211
      redis:
        image: redis:alpine
        ports:
          - 6379:6379
      mongodb:
        image: mongo:3.6
        ports:
          - 27017:27017

    steps:
      - name: checkout the code
        uses: actions/checkout@v3

      - name: setup go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - name: unshallow
        run: git fetch --prune --unshallow

      - name: golanci-linter
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.51.2

      - name: run unit tests
        run: make test

      - name: upload code coverage
        uses: codecov/codecov-action@v3.1.1
        if: contains(github.ref, 'master')
        with:
          file: ./cover.out
